# Copyright 2022, Proofcraft Pty Ltd
#
# SPDX-License-Identifier: BSD-2-Clause

# seL4 web server demo app regression tests + manifest deployment

name: Web Server Demo

on:
  push:
    branches: [master]
    paths-ignore:
      - '**.md'

  # allow manual trigger
  workflow_dispatch:

  # allow explict trigger from other repos when dependencies have changed
  repository_dispatch:
    types: [deps-update]

jobs:
  code:
    name: Freeze Code
    runs-on: ubuntu-latest
    outputs:
      xml: ${{ steps.repo.outputs.xml }}
    steps:
    - id: repo
      uses: seL4/ci-actions/repo-checkout@master
      with:
        manifest_repo: sel4webserver-manifest
        manifest: master.xml

  build:
    name: Build
    needs: code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [ODROID_XU4, ODROID_C2, TX2]
    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3.1'
        bundler-cache: true
    - run: pip3 install -U camkes-deps
    - run: sudo apt-get install doxygen
    - uses: seL4/ci-actions/webserver@master
      with:
        xml: ${{ needs.code.outputs.xml }}
        platform: ${{ matrix.platform }}
    - name: Upload images
      uses: actions/upload-artifact@v4
      with:
        name: images-${{ matrix.platform }}
        path: '*-images.tar.gz'

  hw-run:
    name: Hardware
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        platform: [ODROID_XU4, ODROID_C2, TX2]
    # do not run concurrently with other workflows, but do run concurrently in the build matrix
    concurrency: webserver-hw-${{ strategy.job-index }}
    steps:
      - name: Get machine queue
        uses: actions/checkout@v4
        with:
          repository: seL4/machine_queue
          path: machine_queue
          token: ${{ secrets.PRIV_REPO_TOKEN }}
      - name: Download image
        uses: actions/download-artifact@v4
        with:
          name: images-${{ matrix.platform }}
      - name: Run
        uses: seL4/ci-actions/webserver-hw@master
        with:
          platform: ${{ matrix.platform }}
          index: $${{ strategy.job-index }}
        env:
          HW_SSH: ${{ secrets.HW_SSH }}

  deploy:
    name: Deploy manifest
    runs-on: ubuntu-22.04
    needs: [code, hw-run]
    steps:
    - name: Deploy
      uses: seL4/ci-actions/manifest-deploy@master
      with:
        xml: ${{ needs.code.outputs.xml }}
        manifest_repo: sel4webserver-manifest
      env:
        GH_SSH: ${{ secrets.CI_SSH }}
